mixin input(params={})
  -
    const { iconName, className, type, value, status, ...props } = params

    const statusClassName = status ? `input_${status}` : ''
    const textareaClassName = type === 'textarea' ? 'input_textarea' : ''

  .input(
    data-component="Input"
    class=`
      ${className || ''}
      ${[
        statusClassName,
        textareaClassName,
      ].join(' ')}
    `.trim()
  )
    .input__content
      if (iconName)
        +icon({ name: iconName, className: 'input__icon' })

      if (type === 'textarea')
        textarea.input__field&attributes(props) #{value}
      else
        input(type=type, value=value).input__field&attributes(props)

      if block
        block
