mixin button(params={})
  -
    const { iconName, className, status, href, ...props } = params

    const tag = href ? 'a' : 'button'

    const statusClassName = status ? `button_${status}` : ''

  #{tag}.button(
    href=href
    class=`${className || ''} ${statusClassName}`.trim()
  )&attributes(props)
      span.button__content
        block

      if (iconName)
        img(src=`${icnUrl}/${iconName}`).button__icon