mixin button(params={})
  -
    const { iconName, className, status, href, ...props } = params

    const tag = href ? 'a' : 'button'

    const statusClassName = status ? `button_${status}` : ''

  #{tag}.button(
    href=href
    class=`${className || ''} ${statusClassName}`.trim()
  )&attributes(props)
      if block
        span.button__content
          block

      if (iconName)
        +icon({ name: iconName, className: 'button__icon' })
