mixin gridItem(params={})
  -
    const mergedParams = {
      cols: 12,
      ...params,
    }

    const assocParams = {
      cols: '',
      tCols: 'tablet',
      dCols: 'desktop',
      alignX: 'x',
      tAlignX: 'x-tablet',
      dAlignX: 'x-desktop',
      alignY: 'y',
      tAlignY: 'y-tablet',
      dAlignY: 'y-desktop',
    }

    const getPrefix = (param) => {
      return assocParams[param] ?? ''
    }

    const createGridClassname = (prefix, value) => {
      if (prefix) {
        return value ? `grid__item_${prefix}_${value}` : ''
      }

      return `grid__item_${value}`
    }

    const gridClassname = Object.keys(assocParams)
      .reduce((classname, paramKey) => {
        const paramValue = mergedParams[paramKey]

        classname = paramValue
          ? `${classname} ${createGridClassname(
            getPrefix(paramKey),
            paramValue
          )}`
          : classname

        return classname
      },
      ''
    )

  .grid__item(class=gridClassname)
    p #{d}
    if block
      block

mixin grid(params={})
  -
    const { isFullWidth, ...props } = params

  .grid(class=isFullWidth ? 'grid_full-width' : '')&attributes(props)
    if block
      block
