mixin gridItem(params={})
  -
    const mergedParams = {
      cols: 12,
      ...params,
    }

    const assocParams = {
      cols: '',
      tCols: 'tablet',
      dCols: 'desktop',
      alignX: 'x',
      tAlignX: 'x-tablet',
      dAlignX: 'x-desktop',
      alignY: 'y',
      tAlignY: 'y-tablet',
      dAlignY: 'y-desktop',
    }

    const getPrefix = (param) => {
      return assocParams[param] ?? ''
    }

    const createGridClassName = (prefix, value) => {
      if (prefix) {
        return value ? `grid__item_${prefix}_${value}` : ''
      }

      return `grid__item_${value}`
    }

    const gridClassName = Object.keys(assocParams)
      .reduce((className, paramKey) => {
        const paramValue = mergedParams[paramKey]

        className = paramValue
          ? `${className} ${createGridClassName(
            getPrefix(paramKey),
            paramValue
          )}`
          : className

        return className
      },
      ''
    )

  .grid__item(class=gridClassName)
    if block
      block

mixin grid(params={})
  -
    const { className, ...props } = params

  .grid(class=className)&attributes(props)
    if block
      block
