mixin image(params={})
  -
    const { name, src, className, ext, ...props } = params

    const imageSrc = src || `${imagesUrl}/${name}.${ext || 'png'}`

  img(src=imageSrc alt=name class=className).image&attributes(props)
